# Variaveis usadas pelo backend/IGDB
IGDB_CLIENT_ID=coloque_seu_client_id_aqui
IGDB_CLIENT_SECRET=coloque_seu_client_secret_aqui

# Opcional para execucao local fora do Docker
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/gamematch
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
